.App {
  text-align: center;
  padding: 30px 50px;
}

.form-head{
  margin: 10px;
  width: 100%
}

.form-head label{
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.form-head input{
  margin: 10px;
  padding: 10px;
}
.form-head button{
  padding: 12px 25px;
  color: white;
  background: rgb(2,0,36);
  border-radius: 25px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,51,1) 35%, rgba(0,212,255,1) 100%);
}

.form-head button:hover{
  color: rgba(121,9,51,1);
  background: white;
  border: 1px solid rgba(2,0,36,1);
  cursor: pointer;
}